{% extends 'layouts/base.html' %}
{% block title %} Websocket Room Creation {% endblock title %}

{% block stylesheet %}
    <style>

        body{
            background-color: #444444;
        }

        #room-name-input{
            width: 90%;
            margin-bottom: 5px;
        }

        #top-element{
            margin-top: 35px;
            margin-bottom: 0px;
        }

        h2 {
            color: white;
            font-weight: bold;
        }
    </style>

{% endblock stylesheet %}


{% block content %}

    <div id="top-element" class="row">

        <div class="col">

            <div class="row justify-content-start">
                <div class="col">
                    <h2>Websocket Creation</h2>
                    <hr style="border-top: 1px solid white; margin-bottom: 35px;">
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="card animated fadeInUp">
                    <div class="card-body">
                            <h5 class="card-title">Create a websocket space by typing in an identifier name:</h5>
                            <input id="room-name-input" type="text" size="100"><br>
                            <input id="room-name-submit" type="button" value="Open Connection">
                    </div>
                    <div class="card-footer">

                        <a href="{% url 'core:index' %}" style="float: right">Index Page</a>

                    </div>
                </div>

            </div>


        </div>






    </div>

{% endblock content %}


{% block javascript %}
    <script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;

        if(roomName === "" || roomName === "default"){
            alert("Type in an identifier to proceed. \n 'default' is not accepted.");
        } else {
            window.location.pathname = '/socket/' + roomName + '/';
        }

    }


    </script>
{% endblock javascript %}