{% extends 'layouts/base.html' %}
{% block title %} Websocket Room{% endblock title %}

{% block stylesheet %}
    <style>

        body {
            background-color: #444444;
        }

        #top-element{
        margin-top: 35px;
        margin-bottom: 0px;
        }

        #chat-log{
            width: 90%;
            height: 500px;
            resize: none;
            overflow-y: scroll;
            border-style: solid;
            border-width: thin;
            margin-bottom: 5px;
            font-size: small;
        }

        #chat-message-input{
            width: 90%;
            margin-bottom: 5px;
        }

        h2 {
            color: white;
            font-weight: bold;
        }

    </style>

{% endblock stylesheet %}


{% block content %}

    <div id="top-element" class="row">
        <div class="col">

            <div class="row justify-content-start">
                <div class="col">
                    <h2>Websocket </h2>
                    <hr style="border-top: 1px solid white; margin-bottom: 35px;">
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Your currently in Websocket with the identifier: </h5>
                            <h6 class="card-subtitle mb-2" style="color: green;">{{ room_name }}</h6>

                            <div id="chat-log" contenteditable="false">

                            </div>


                            <input id="chat-message-input" type="text" size="100"><br>
                            <input id="chat-message-submit" type="button" value="Send">
                            {{ room_name|json_script:"room-name" }}
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'core:index' %}" style="float: right">To Index-Page</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>



    </div>

{% endblock content %}


{% block javascript %}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);


        var ws_scheme = window.location.protocol == 'https:' ? 'wss://' : 'ws://';
        const chatSocket = new WebSocket(
            ws_scheme
            + window.location.host
            + '/ws/socket/'
            + roomName
            + '/',
            'session-observation'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data + '\n');
            var div = document.getElementById('chat-log');
            div.innerHTML += "<pre>" + JSON.stringify(data, undefined, 2) + "</pre>";
            div.innerHTML += "<hr>";
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            var div = document.getElementById('chat-log');
            div.innerHTML += "<span style='color:red'> Chat socket closed unexpectedly </span> <br> <hr>";
        }

        setInterval( function(){
            chatSocket.send(JSON.stringify({"heartbeat" : 1}))
        },10000)

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };


    </script>
{% endblock javascript %}