{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Login - ESM {% endblock %}

{% block stylesheet %}
    <style>
         html, body{
             background-color: #444444;
             height: 100%;
             min-height: 100%;
         }

         .row{
             height: 100%;
         }

    </style>
{% endblock stylesheet %}

{% block content %}


    {% if msg %}
        <div class="row" >
            <div class="col-md-4 align-self-center" style="padding-left: 80px;">

                <div class="card animated fadeInLeft">
                    <h5 class="card-header">Messages</h5>
                    <div class="card-body">

                        <p class="text-danger text-center">
                            {{ msg }}
                        </p>

                        <p class="text-danger">
                            {{ form.username.errors }}
                            {{ form.email.errors }}
                            {{ form.password1.errors }}
                            {{ form.password2.errors }}
                        </p>

                    </div>

                </div>

            </div>

    {% else %}
        <div class="row justify-content-center full-height" style="height: 100%;" >
    {% endif %}

        <div class="col-md-4 align-self-center"  >
            {% if not submitted_already %}
            <div class="card animated fadeInRight">
            {% else %}
            <div class="card">
            {% endif %}
                <h5 class="card-header">Registration - ESM </h5>
                    {% if success %}

                    {% else %}
                        <div class="card-body text-center">
                            <form role="form" method="post" action="">
                                {% csrf_token %}
                                {{ form.username }}<br>
                                {{ form.email }}<br>
                                {{ form.password1 }}<br>
                                {{ form.password2 }}<br>
                                <input type="submit" class="btn btn-fill btn-primary" value="Register" style="margin-top: 20px;">
                            </form>

                        </div>
                    {% endif %}

                <div class="card-footer">
                    <a href="{% url 'authentification:login' %}" style="margin-top: 20px;">Zur Authentifizierung</a>
                </div>
            </div>

        </div>
    </div>




{% endblock content %}




